.contacts__link-a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--accent);
  border-radius: 9999px;
  transition: 0.2s;
}
.contacts__link-a:hover {
  transform: scale(1.2);
}
